.hreffont {
    font-weight: bold;
}

body {
    background-color: white;
}

.logo {
    height: 100px;
}

.grad {
    background-image: linear-gradient(to right, rgb(114, 21, 56), rgb(228, 20, 117));
}

.card {
    color: white;
}

.card-image {
    height: 40px;
    width: 80px;
    margin-left: 41px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
}

.jumbotron {
    background-color: darkslategrey;
}

.navbar-nav {
    margin-left: auto;
}